# SETUP.SH OPTIONS
## master user setup
user=test
pass=test123
## symlink local swizzin folder to /etc/swizzin/ instead of cloning from upstream
localInstall=true
## packages to install separated by colons
packagelist=nginx:panel:transmission:xmrig
# PACKAGE SPECIFIC OPTIONS
## transmission flags (https://docs.swizzin.ltd/applications/transmission#install-options)
arg_transmissionsource="Repo"
download_dir="customdir/ddoowwnnllooaaddss"
incomplete_dir="customdir/iinnccoommppllete"