on:
  issues:
    types: [opened, edited]

jobs:
  auto_close_issues:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Automatically close issues that don't follow the issue template
        uses: lucasbento/auto-close-issues@v1.0.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issue-close-message: "Hey @${issue.user.login}\n\nThis issue is being automatically closed because it does not follow the issue template. Please follow the issue template when opening an issue."
          closed-issues-label: "Not following issue template"